@tailwind base;
@tailwind components;
@tailwind utilities;



@theme inline {
    --shadow-input:
        0px 2px 3px -1px rgba(0, 0, 0, 0.1),
        0px 1px 0px 0px rgba(25, 28, 33, 0.02),
        0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(#696FB1, #42CB9B);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: linear-gradient(#696FB1, #42CB9B);
}

::-webkit-scrollbar-track {
    @apply bg-transparent
}

* {
    box-sizing: border-box;
    outline: none;
}

.ant-transfer-list {
    @apply min-w-96 min-h-96 my-4
}